<div class="header">
    <div class="container p-sm-0">
        <div class="row d-flex jc-sb ai-c">
            <div class="logo">
                <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
            </div>
            <div class="nev d-flex ai-c">
                <ul class="d-flex jc-sb">
                    <li class="pr-16 pr-sm-0 nev-card"><a href="#">系列鏡框</a></li>
                    <li class="pr-16 pr-sm-0 nev-card"><a href="#">門市據點</a></li>
                    <li class="pr-16 pr-sm-0 nev-card"><a href="#">部落格</a></li>
                    <li class="nev-card"><a href="#">常見問題</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>