.footer {
    background: #AA0601;
    padding: 0 16px;
    @include pad{
        padding: 0 36px;
        padding-top: 56px;
    }
    @include mobile-lg{
        padding: 24px 16px;
    }
    color: white;
    padding-top: 48px;
    &-container {
        max-width: 1296px;
        margin: 0 auto;
    @include pad{
        max-width: 720px;
    }
    
    }
    .box3 {
        border-bottom: 1px solid white;
        justify-content: space-between;

    }
    &-menu a {
        color: white;
        padding-right: 48px;
        padding-bottom: 36px;
        padding-top: 12px;
    }
    .phone-number {
        justify-content: flex-start;
        padding-bottom: 8px;
    }
    .contact-imformation h3{
        padding-left: 22px;
        @include mobile-lg{
            padding-left: 10px;
        }
    }
    .email {
    padding-bottom: 32px;
    @include mobile-lg{
        padding-bottom: 24px;
    }
}

.link {
    justify-content: flex-end;
    img {
        width: 48px;
        @include pad{
            max-width: 40px;
        }
        @include mobile-lg{
            max-width: 24px;
        }
    }
}
.pl-8 {
    padding-left: 32px;
    @include pad{
        padding-left: 16px;
    }
    @include mobile-lg{
        padding-left: 8px;
    }
}

.fz-8 {
    font-size: 36px;
    @include mobile-lg{
        font-size: 18px;
    }
}

.fz-10 {
    font-size: 40px;
    @include mobile-lg{
        font-size: 20px;
    }
}
.copyright {
    padding: 36px 0;
    @include mobile-lg{
        padding-top: 16px;
        padding-bottom: 0px;
        }
    p {
        margin-right: auto;
    }
    a {
        color: white;
    }
    @include mobile-lg{
        flex-direction: column;
        }
}
.pr48 {
    padding-right: 48px;
}
@include mobile-lg{
    h3 {
        font-size: 16px;
    }
    .footer-menu {
        display: none;
    }
    .pb-8{
        padding-bottom: 8px;
    }
}
}
