<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>index</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <!-- <div class="home-section1">
      <div class="d-flex section1-text container">
          <h3>Promise-Desert 2020 早春系列</h3>
          <h1>看得清，才能看得遠</h1>
          <a href="#">立即購買</a>
      </div>
  </div>

  <div class="home-section2 p80">
      <div class="container">
          <h2>用專業的心，做專業的事</h2>
          <div class="box d-flex sm-flex-wrap">
              <div class="card p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section2-1.png" alt="money-mark">
                  <h4>單一價格</h4>
                  <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
              <div class="card p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section2-2.png" alt="clock-mark">
                  <h4>20 分鐘即可取件</h4>
                  <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
              <div class="card p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section2-3.png" alt="heart-mark">
                  <h4>安心售後服務</h4>
                  <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
              <div class="card p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-sectioin2-4.png" alt="glass-mark">
                  <h4>關於鏡片</h4>
                  <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
          </div>
      </div>
  </div>

  <div class="home-section3 p80">
      <div class="container">
          <h2>經典系列鏡框</h2>
          <div class="box d-flex md-flex-column ai-c">
              <div class="card2 p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section3-1.png" alt="pic">
                  <h2 class="italic pb-6">OPTICAL</h2>
              </div>
              <div class="card2 p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section3-2.png" alt="pic">
                  <h2 class="italic pb-6">SUNGLASSES</h2>
              </div>
              <div class="card2 p12 d-flex flex-column ai-c">
                  <img src="../assets/images/home-section3-3.png" alt="pic">
                  <h2 class="italic pb-6">FUNCTIONAL</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="home-section4 p80">
      <div class="container">
          <h2 class="white">聯名設計鏡框</h2>
          <div class="d-flex sm-flex-wrap">
              <div class="card3 d-flex flex-column pb-6 pr-8 pl-8">
                  <picture>
                      <source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 375px)" />
                      <img src="../assets/images/home-section4-1.png" alt="glass" />
                  </picture>
                  <div>
                      <h2 class="italic">DOUBLE A+</h2>
                  </div>
              </div>
              <div class="card3 d-flex flex-column pb-6 pr-8 pl-8">
                  <picture>
                      <source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 375px)" />
                      <img src="../assets/images/home-section4-2.png" alt="glass" />
                  </picture>
                  <div>
                      <h2 class="italic">YOUTH</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="home-section5 p80">
      <div class="container">
          <h2>顧客推薦</h2>
          <div class="box d-flex sm-flex-wrap">
              <div class="card4 p12">
                  <div class="text">
                      <div class="top">
                          <div class="top-img">
                              <img src="../assets/images/home-section5-1.png" alt="pic">
                          </div>
                          <div class="top-commend">
                              <p class="p-md">Jessy</p>
                              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                          </div>
                      </div>
                      <div class="date">
                          <p>2021/06/20</p>
                      </div>
                  </div>
              </div>
              <div class="card4 p12">
                  <div class="text">
                      <div class="top">
                          <div class="top-img">
                              <img src="../assets/images/home-section5-2.png" alt="pic">
                          </div>
                          <div class="top-commend">
                              <p class="p-md">凱倫</p>
                              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                          </div>
                      </div>
                      <div class="date">
                          <p>2021/04/18</p>
                      </div>
                  </div>
              </div>
              <div class="card4 p12">
                  <div class="text">
                      <div class="top">
                          <div class="top-img">
                              <img src="../assets/images/home-section5-3.png" alt="pic">
                          </div>
                          <div class="top-commend">
                              <p class="p-md">悠悠</p>
                              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                          </div>
                      </div>
                      <div class="date">
                          <p>2020/12/25</p>
                      </div>
                  </div>
              </div>
              <div class="card4 p12">
                  <div class="text">
                      <div class="top">
                          <img src="../assets/images/home-section5-4.png" alt="pic">
                          <div class="top-commend">
                              <p class="p-md">Kyuan</p>
                              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                          </div>
                      </div>
                      <div class="date">
                          <p>2020/10/31</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="contact p80">
      <div class="contact-container">
          <div class="q-list d-flex flex-column">
              <div class="box2">
                  <h2>聯絡我們</h2>
              </div>
              <div class="box2">
                  <p class="fz20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
              </div>
              <div class="box2 mb16">
                  <label class="d-block" for="name">姓名</label>
                  <input type="text" id="name" placeholder="陳小明" class="input-box">
              </div>
              <div class="box2 mb16">
                  <label class="d-block" for="phone">聯絡電話</label>
                  <input type="text" id="phone" placeholder="0912-345-678" class="input-box">
              </div>
              <div class="box2 mb16">
                  <label class="d-block" for="mail">電子郵件</label>
                  <input type="text" id="mail" placeholder="example@email.com" class="input-box">
              </div>
              <div class="box2 mb16">
                  <label class="d-block" for="comments">意見反應</label>
                  <input type="text" id="comments" placeholder="請輸入您的意見" class="input-type">
              </div>
              <div class="box2 mb48 check">
                  <input type="checkbox" id="aggrement">
                  <label for="aggrement">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <div class="submit d-flex">
                  <a href="#">確認送出</a>
              </div>
          </div>
      </div>
  </div> -->

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>